body {
  margin: 0;
  font-family: "Roboto Mono", monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: black;
  box-sizing: border-box;
}

.home-page {
  text-align: center;
  color: white;
}

#construction-image {
  height: 60vh;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 26px;
  box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5),
    inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}
