body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #f788b2, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
  
}

.home-page {
  text-align: center;
}

.home-page h1 {
  font-weight: bold;
  margin-top: 3em;
  font-size: 3em;
}

.home-page h3 {
  font-size: 2em;
}



.home-page button{
  border-radius: 16px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  padding: 5px;
  font-size: 2em;

}

.home-page button:hover{
  background-color: rgba(255,255,255,0.3);
  color:white
}